html,
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
}
/* Navbar */
.navbar {
  display: flex;
  height: 5vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 10px;
}

.navbar-left {
  display: flex;
}
.logo {
  height: 50px;
  width: 50px;
}

.navbar-left li {
  display: flex;
  font-weight: bold;
  color: #1987ef;
}

.navbar-right {
  display: flex;
}

.navbar-right button {
  display: flex;
  padding: 10px;
  border-radius: 5px;
}

.signin-btn {
  background-color: transparent;
  margin-right: 5px;
  color: black;
  font-weight: bold;
}

.signout-btn {
  color: white;
  background-color: black;
  font-weight: bold;
}
/* Main Content */

.main-content {
  min-height: 90vh;
  padding: 0 200px;

  background-color: whitesmoke;
}

.main-content-courses > *,
.main-content-instructors > * {
  margin: 0;
}
.main-content-courses p,
.main-content-instructors p {
  color: gray;
}
.main-content-instructors,
.main-content-courses {
  padding: 3rem 0;
}

.card-row1 {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
}

.card-box1 {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 5px #ccc;
}

.card-row2 {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
  padding-bottom: 20px;
}

.card-box2 {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #ccc;
}

.card-profile,
.card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-title h2 {
  font-size: 24px;
  margin: 5px;
}
.card-title p {
  font-size: 16px;
  margin: 5px;
  color: gray;
}

.card-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  vertical-align: middle;
  margin-bottom: 1em;
}

.card-course{
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card-text {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.text-grey {
  color: gray;
}

/* Footer */
footer {
  background-color: #f5f5f5;
  padding: 2rem;
  text-align: center;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}
footer p {
  margin: 0;
}
footer a {
  color: #0066cc;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.copyright {
  flex-basis: 40%;
}
nav {
  flex-basis: 30%;
  text-align: right;
}
.social-links {
  flex-basis: 20%;
  text-align: right;
}